
# Don't check in the WASM file & supporting JS files
/build/earthly_go.wasm
/build/wasm_exec_go.js
/build/earthly_tinygo.wasm
/build/wasm_exec_tinygo.js

# Don't check in server build
/build/server
/build/server.exe

# Don't check in docs build
/build/docs

# Don't check in test artifacts
*.test.png

# Cloudflare workers cache
/.wrangler
/node_modules
